<html>
  <head>
    <title>Message Board</title>
  </head>
  <body>
    <h1>Messages</h1>
    <ul>
      <% messages.forEach((message) => { %> <%- include('message', {message:
      message}) %> <% }); %>
    </ul>
  </body>
</html>
